Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Python 1
- R 2
- SQL 3
- Julia 4

Some of the popular languages that Data Scientists use are: R , paython , SQL etc..

Some of the commonly used libraries used by Data Scientists include: 
    ordered list: Plotly , pandas , Numpy

#Table

|Name: Data Science Tools|
|-----------------|
|Apache hadoop|
|R|
|Apache Spark|

###Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [3]:
min = 200
hours = min / 60
hours
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author 
Ammar Alshater